@import "base/base";
@import "Slideshow/slideshow";

.content {
  background-color: rgba(255,255,255,.75);
  box-shadow: 5px 5px 5px black;
  border: 1px solid black;
  padding: $spacing-small;
  margin: $spacing-small;

  @media only screen and (max-width: 900px) {
    background-color: rgba(255, 255, 255,0);
    box-shadow: none;
    border: none;
  }
}

table, th, td {
  padding: $spacing-small;
  text-align: center;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5;
}
