@import "ionicons";
@import "base/base";

html {
    background-color: white;
    background-image: url("/Assets/Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
  margin-top: $spacing-xxlarge;
}
/* the very top of the page containing the nav menu */
.top-menu-standard {
  /* display: none; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: $spacing-small;
  background-color: rgba(255,255,255,.75);
  box-shadow: 5px 5px 5px black;
  

  /* entire contents of the nav menu */
  >div
  {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; 

    /* logo */
    >img 
    {
      height: $spacing-xlarge;
      width: auto;
      border-right: 2px solid red;
      float: left;
      
    }

    /* title */
    >img + div
    {
      margin-top: 0;
      display: inline-block;
      >h1,h2
      {
        margin: $spacing-xsmall;
      }
    }

    /* menu icon */
    >img + div + div
    {
      display: none;
    }

    /* links */
    >ul
    {
      list-style: outside none none;
      padding: 0;
      margin: 0;
      float: right;

      >li
      {
        display: inline-block;
        margin: $spacing-small;

        >a
        {
          font-weight: $font-weight-bold;
          font-size: $font-size-normal;
          padding: $spacing-xsmall;
          display: list-item;
          color: black;

          &:hover
          {
            color: white;
          }
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: $spacing-xsmall;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  font-size: 0;

  .col {
    vertical-align: top;
    box-sizing: border-box;
    font-size: $font-size-normal;
    display: inline-block;
    width: 100%;
    

    &.sixty {
      margin: 0;
      width: 60%; 
      
    }

    &.forty {
      margin: 0;
      width: 40%;
    }

    .content {
      background-color: rgba(255,255,255,.75);
      box-shadow: 5px 5px 5px black;
      border: 1px solid black;
      padding: $spacing-small;
      margin: $spacing-small;
    }
  }
}

